Package: com.sticktron.darkmessages
Name: DarkMessages (iOS 10)
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm
Description: Native Dark Theme for Messages App!
Maintainer: Sticktron
Author: Sticktron
Section: Tweaks
